<include file='common:head' />
<link rel="stylesheet" href="__HOME__/css/log.css"/>
<body>
<!--header-->
<div class="zg-header cont clearfix">
    <a href="#" target="_blank" class="zg-header-logo fl"><img src="__HOME__/images/u_logo.jpg" width='150' height='60' alt="小H商城"/></a>
    <span class="zg-header-title fl">重置密码</span>
</div>
<!--header-->

<div class="reset_w">
	<div class="reset reset_4">
    	<h1>重置密码</h1>
        <p>邮箱：{$epwd['email']}</p>
    	<form method='post' action="{:U('login/findpwd3')}">
            <div>
                <input type='hidden' name='id' value="{$epwd['id']}">
                <input type="password" name='pwd' placeholder="请输入新密码" class="reset_password_t password_t">
        	</div>
            <div>
                <input type="password" name='repwd' placeholder="请再次输入新密码" class="reset_password_t password_t">
            </div>
        	<input type="submit" value="下一步" class="nextStep">        
        </form>   
    </div>

</div>

<!--footer-->
<div class="zg-footer-box">
    <p>Copyright © 2010-2016 小H商城 版权所有 保留一切权利</p>
    <p>京ICP备10218183号 京ICP证161188号 京公网安备 11010802020593号 出版物经营许可证新出发京批字第直130052号</p>
</div>
<!--footer-->
<script src="__HOME__/js/pub.js"></script>
</body>
</html>
