<include file='common:head' />
<link rel="stylesheet" href="__HOME__/css/log.css"/>

<body>
<!--header-->
<div class="zg-header cont clearfix">
    <a href="#" target="_blank" class="zg-header-logo fl"><img src="__HOME__/images/u_logo.jpg" width='150' height='60' alt="小S商城"/></a>
    <span class="zg-header-title fl">验证邮箱</span>
</div>
<!--header-->

<div class="reset_w">
	<div class="reset reset_3">
    	<h1>验证邮箱</h1>
    	<form method='post' action="{:U('login/findpwd2')}" id='checkemail'>
        	<input type="text" name='email' value="" placeholder='输入邮箱' class="verf_mail">
        	<input type="submit" value="前往邮箱" class="nextStep">       
        </form>   
    </div>
</div>

<!--footer-->
<div class="zg-footer-box">
    <p>Copyright © 2010-2016 小H商城 版权所有 保留一切权利</p>
    <p>京ICP备10218183号 京ICP证161188号 京公网安备 11010802020593号 出版物经营许可证新出发京批字第直130052号</p>
</div>
<!--footer-->
<script src="__HOME__/js/pub.js"></script>
</body>
</html>
