<include file="common:header" />
<include file="common:aside" />

<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统设置 <span class="c-gray en">&gt;</span> 角色管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c">
				<form class="Huiform" method="post" action="{:U('role/rolelist')}" target="_self">
					<input type="text" class="input-text" style="width:250px" placeholder="角色名称" id="" name="rolename" value="{$params['rolename']}">
					<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索角色</button>
				</form>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="role_add('添加角色','roleadd','','')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加角色</a></span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
			<table class="table table-border table-bordered table-bg table-sort">
				<thead>
					<tr>
						<th scope="col" colspan="7">角色</th>
					</tr>
					<tr class="text-c">
						<th><input type="checkbox" name="" value=""></th>
						<th>ID</th>
						<th>角色名称</th>
						<th>角色描述</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<foreach name='data' item='val'>
					<tr class="text-c">
						<td><input type="checkbox" value="{$val['id']}" name="id[]"></td>
						<td>{$val['id']}</td>
						<td>{$val['rolename']}</td>
						<td>{$val['remark']}</td>
						<td><a title="编辑" href="javascript:;" onclick="role_edit('角色编辑','{:U("role/roleedit",array("id"=>$val["id"]))}','','')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="role_del(this,{$val['id']})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
					</tr>
					</foreach>
				</tbody>
				<tr class="text-c">
					<td colspan='5'><div class='pages'>{$show}</div></td>
				</tr>
			</table>
		</article>
	</div>
</section>

<include file="common:footer" />
<script type="text/javascript">
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*角色-添加*/
function role_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*角色-编辑*/
function role_edit(title,url,w,h){
	layer_show(title,url,w,h);
}

/*角色-删除*/
function role_del(obj,id){
	if(!id){
		layer.confim('参数错误');
	}
	layer.confirm('角色删除须谨慎，确认要删除吗？',function(index){
		$.ajax({
			type:"POST",
			url:"{:U('role/roledel',array('id'=>id))}",
			data:{"id":id},
			dataType:'JSON',
			success:function(result){
				if(result.status == 1){
					$(obj).parents("tr").remove();
					layer.msg('已删除!',{icon:1,time:1000});
				}
			}
		})

	});
}
/*角色-批量删除*/
function datadel(){
	var idObj = $(":checkbox:checked"); //获取全部已经被选中的checkbox
    var id = ''; //接收处理后的部门id的值。组成id1，id2，
    //循环遍历idobj对象，获取其中的每一个的值。
    for(var i = 0;i < idObj.length;i++){
        id = id + idObj[i].value + ',';
    }
    //去掉最后的逗号
    id = id.substring(0,id.length-1);
    console.log(id);
    //window.location.href="__CONTROLLER__/permissiondel/id/" + id;
    layer.confirm('权限删除须谨慎，确认要删除吗？',function(index){
		$.ajax({
			type:"POST",
			url:"{:U('role/roledel',array('id'=>id))}",
			data:{"id":id},
			dataType:'JSON',
			success:function(result){
				if(result.status == 1){
					$(":checkbox:checked").parent('td').parent("tr").remove();
					layer.msg('已删除!',{icon:1,time:1000});
				}
			}
		})

	});
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>