<include file="common:head" />
<style>
	#treeDemo span.has-switch{min-width: 0px !important;}
</style>
<body>
	<article class="page-container">
		<form class="form form-horizontal" id="form_info" action="{:U('role/roleedit')}" method='post'>
			<div class="row cl">
				<input type="hidden" class="input-text" name='id' value="{$row['id']}">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" name='rolename' value="{$row['rolename']}" placeholder="请输入角色名称">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">角色描述：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" name='remark' value="{$row['remark']}" placeholder="请输入角色描述">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>所有权限：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<div class="zTreeDemoBackground left">
						<ul id="treeDemo" class="ztree"></ul>
					</div>
					<input type="hidden" id="power" name="power" value="{$row['power']}" />
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>状态：</label>
				<div class="formControls col-xs-8 col-sm-9 skin-minimal">
					<div class="radio-box">
						<input name="status" type="radio" id="status-1" value='1' <if condition="$row['status'] neq 2">checked</if> />
						<label for="status-1">正常</label>
					</div>
					<div class="radio-box">
						<input type="radio" id="status-2" value='2' name="status" <if condition="$row['status'] eq 2">checked</if> />
						<label for="status-2">禁用</label>
					</div>
				</div>
			</div>

			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
					<input class="btn btn-primary radius" type="button" onclick="checkForm()" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				</div>
			</div>

		</form>
	</article>
	<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script><script type="text/javascript" src="__PUBLIC__/admin/lib/layer/2.4/layer.js"></script> 
	<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui/js/H-ui.js"></script> 
	<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui.admin/js/H-ui.admin.page.js"></script> 	
	<script type="text/javascript" src="__PUBLIC__/admin/lib/laypage/1.2/laypage.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/admin/lib/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
	<script type="text/javascript" src="__PUBLIC__/admin/lib/zTree/js/jquery.ztree.core-3.5.js"></script>
	<script type="text/javascript" src="__PUBLIC__/admin/lib/zTree/js/jquery.ztree.excheck-3.5.js"></script>
	<script type="text/javascript" src="__PUBLIC__/admin/lib/zTree/js/jquery.ztree.exedit-3.5.js"></script>
	<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript">
		var setting = {
			check:{
				enable:true
			},
			data: {
				simpleData: {
					enable: true,
					pIdKey:"pid"
				}
			},
			view: {
				showIcon: false
			},
			callback:{
				onCheck:treeCheck
			}
		};
		var zNodes = '{$data}';
		zNodes = jQuery.parseJSON(zNodes);
		$.fn.zTree.init($("#treeDemo"), setting, zNodes);
		var zTree = $.fn.zTree.getZTreeObj("treeDemo");
		//zTree.expandAll(true);
		
		function treeCheck(){
			//获取到树形结构
			var zTree = $.fn.zTree.getZTreeObj("treeDemo");
			//获取到树形结构中所有的已勾选节点
			var checkedNodes = zTree.getCheckedNodes(true);
			var checkStr = '';
			$.each(checkedNodes,function(i,o){
				checkStr += o.id + ',';
			});
			checkStr = checkStr.substring(0,checkStr.length-1);
			$('#power').val(checkStr);
		}

		$("#form_info").validate({
			onfocusout: function(element){
		        $(element).valid();
		    },
			rules:{
				rolename:'required',
			},
			messages:{
				rolename:"角色名称不能为空",
			}
		});
		function checkForm(){
			$.ajax({
				type:"POST",
				url:$('#form_info').attr("action"),
				data:$('#form_info').serialize(),
				dataType:'JSON',
				success:function(result){
					if(result.status == 1){
						parent.window.location.reload();
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
					}
				}
			});
		}
	</script>
</body>
</html>