<include file='common:head' />
<link type="text/css" rel="stylesheet" href="__HOME__/css/user.css" />
<include file='common:header' />
<include file='common:lists' />

<div class="cont user user_3 clearfix">
	<div class="user_menu"> 
        <dl>
            <dt class="colorChange">个人中心</dt>
            <dd><a href="{:U('user/myorder')}">我的订单</a></dd>
            <dd><a href="{:U('user/mycollect')}">我的收藏</a></dd>
            <dd class="active"><a href="{:U('user/mycoupon')}">我的优惠券</a></dd>
            <dd><a href="{:U('user/address')}">我的收货地址</a></dd>
            <dd><a href="{:U('user/comment')}">商品评价</a></dd>
            <dd><a href="{:U('user/editpwd')}">修改密码</a></dd>
        </dl>
    </div>
<!--  我的收藏  -->
        <div class="user_right fr">
            <h3 class="user_title">我的优惠券</h3>
            <p class="noInfo"><i class="i_sad">&nbsp;</i>您目前还没有已购买的宝贝，快去逛逛<a href="#">首页</a>吧！</p>
            <div class="zg-right-nav clearfix">
                <ul class="zgright-nav-ul fl">
                    <li><a href="#" class="active">全部</a></li>
                    <li><a href="#" class="valid">未使用</a></li>
                    <li><a href="#">已使用</a></li>
                    <li><a href="#">已过期</a></li>
                </ul>
                <div class="user_search_w fr"><i>&nbsp;</i>
                    <input type="text" value="商品名称" class="ipt_search" onFocus="if(value=='商品名称')value='';" onBlur="if(value=='')value='商品名称';"/>
                    <input type="submit" value="" class="user_search_submit">
                </div>
            </div>                                                                        
            <div class="zg-right-tabC active">
                <table>
                	<tr>
                    	<th class="longer">编号</th>
                    	<th>优惠金额</th>
                    	<th>使用条件</th>
                    	<th>使用范围</th>
                    	<th>优惠券类型</th>
                    	<th>领取时间</th>
                    	<th>过期时间</th>
                    	<th>状态</th>
                    	<th class="longer">操作</th>
                    </tr>
                	<tr>                                                                 
                    	<td>000001</td>
                    	<td>50</td>
                    	<td>满100减50 </td>
                    	<td>所有商品</td>
                    	<td>品类券</td>
                    	<td>2016-10-01 12:00</td>
                    	<td>2016-11-11</td>
                        <td>未使用</td>
                        <td><a href="#" target="_blank">去购买</a></td>
                    </tr>
                	<tr>                                                                 
                    	<td>000001</td>
                    	<td>50</td>
                    	<td>满100减50 </td>
                    	<td>所有商品</td>
                    	<td>品类券</td>
                    	<td>2016-10-01 12:00</td>
                    	<td>2016-11-11</td>
                        <td>未使用</td>
                        <td><a href="#" target="_blank">去购买</a></td>
                    </tr>                
                </table>
                 <!--pages -->
                <div class="pages pagesR">
                    <a class="pages_pre" href="#" title="上一页">上一页</a><a  href="#"class="active">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><span>…</span><a href="#" class="pages_next" title="下一页">下一页</a><span>共100页，到第<input type="text" class="pages_ipt">页</span><label class="pages_btn_w"><input type="submit" value="确定" class="pages_btn"></label>
                </div>
            </div>
            <div class="zg-right-tabC">
                <table>
                	<tr>
                    	<th class="longer">编号</th>
                    	<th>优惠金额</th>
                    	<th>使用条件</th>
                    	<th>使用范围</th>
                    	<th>优惠券类型</th>
                    	<th>领取时间</th>
                    	<th>过期时间</th>
                    	<th>状态</th>
                    	<th class="longer">操作</th>
                    </tr>
                	<tr>                                                                 
                    	<td>000001</td>
                    	<td>50</td>
                    	<td>满100减50 </td>
                    	<td>所有商品</td>
                    	<td>品类券</td>
                    	<td>2016-10-01 12:00</td>
                    	<td>2016-11-11</td>
                        <td>未使用</td>
                        <td><a href="#" target="_blank">去购买</a></td>
                    </tr>
                </table>
                 <!--pages -->
                <div class="pages pagesR">
                    <a class="pages_pre" href="#" title="上一页">上一页</a><a  href="#"class="active">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><span>…</span><a href="#" class="pages_next" title="下一页">下一页</a><span>共100页，到第<input type="text" class="pages_ipt">页</span><label class="pages_btn_w"><input type="submit" value="确定" class="pages_btn"></label>
                </div>
            </div>
            <div class="zg-right-tabC">
                <table>
                	<tr>
                    	<th class="longer">编号</th>
                    	<th>优惠金额</th>
                    	<th>使用条件</th>
                    	<th>使用范围</th>
                    	<th>优惠券类型</th>
                    	<th>领取时间</th>
                    	<th>过期时间</th>
                    	<th>状态</th>
                    	<th class="longer">操作</th>
                    </tr>
                	<tr>                                                                 
                    	<td>000001</td>
                    	<td>50</td>
                    	<td>满100减50 </td>
                    	<td>所有商品</td>
                    	<td>品类券</td>
                    	<td>2016-10-01 12:00</td>
                    	<td>2016-11-11</td>
                        <td>未使用</td>
                        <td><a href="#" target="_blank">去购买</a></td>
                    </tr>
                </table>
                 <!--pages -->
                <div class="pages pagesR">
                    <a class="pages_pre" href="#" title="上一页">上一页</a><a  href="#"class="active">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><span>…</span><a href="#" class="pages_next" title="下一页">下一页</a><span>共100页，到第<input type="text" class="pages_ipt">页</span><label class="pages_btn_w"><input type="submit" value="确定" class="pages_btn"></label>
                </div>
            </div>
            <div class="zg-right-tabC">
                <table>
                	<tr>
                    	<th class="longer">编号</th>
                    	<th>优惠金额</th>
                    	<th>使用条件</th>
                    	<th>使用范围</th>
                    	<th>优惠券类型</th>
                    	<th>领取时间</th>
                    	<th>过期时间</th>
                    	<th>状态</th>
                    	<th class="longer">操作</th>
                    </tr>
                	<tr>                                                                 
                    	<td>000001</td>
                    	<td>50</td>
                    	<td>满100减50 </td>
                    	<td>所有商品</td>
                    	<td>品类券</td>
                    	<td>2016-10-01 12:00</td>
                    	<td>2016-11-11</td>
                        <td>未使用</td>
                        <td><a href="#" target="_blank">去购买</a></td>
                    </tr>
                
                </table>
                 <!--pages -->
                <div class="pages pagesR">
                    <a class="pages_pre" href="#" title="上一页">上一页</a><a  href="#"class="active">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><span>…</span><a href="#" class="pages_next" title="下一页">下一页</a><span>共100页，到第<input type="text" class="pages_ipt">页</span><label class="pages_btn_w"><input type="submit" value="确定" class="pages_btn"></label>
                </div>
            </div>
		</div>

<!--  我的收藏 end  -->
</div>
<include file='common:footer' />
<script src="__HOME__/js/pub.js"></script>
<script src="__HOME__/js/content.js"></script>