<include file='common:head' />
<include file='common:header' />
<include file='common:lists' />
<link type="text/css" rel="stylesheet" href="__HOME__/css/user.css" />
<script src="__HOME__/js/pub.js"></script>
<script src="__HOME__/js/content.js"></script>

<div class="cont user user_0 clearfix">
	<div class="user_menu"> 
        <dl>
            <dt class="colorChange">个人中心</dt>
            <dd><a href="{:U('user/myorder')}">我的订单</a></dd>
            <dd><a href="{:U('user/mycollect')}">我的收藏</a></dd>
            <dd><a href="{:U('user/mycoupon')}">我的优惠券</a></dd>
            <dd><a href="{:U('user/address')}">我的收货地址</a></dd>
            <dd><a href="{:U('user/comment')}">商品评价</a></dd>
            <dd class="active"><a href="{:U('user/editpwd')}">修改密码</a></dd>
        </dl>
    </div>

<!--  个人信息内容  -->
        <div class="user_right fr">
            <h3 class="user_title">个人信息</h3>

			<div class="user_rc clearfix">
				<p>亲爱的&nbsp;<span>{$row['username']}</span>，填写真实的资料，有助于好友找到你哦。</p>
                <form action="{:U('user/userinfo')}" method='post' id='form_info' enctype="multipart/form-data">
                <table width="500" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th class="zg_person_th">当前头像：</th>
                        <td>
                    	   <img src="{$row['photo']}" width="120" height="120" alt="我的头像">
                            <label class="userInfo_file"><input type="file" name='photo'>上传头像</label>
                        </td>
                    </tr>
                    <tr>
                        <th>邮箱帐号：</th>
                        <td class="user_mail">
                    	   <span>{$row['email']}</span>
                            <span>未验证 <a href="#">去验证</a></span>
                            <span>已验证 <a href="#">修改邮箱</a></span>
                        </td>
                    </tr>
                    <tr>
                        <th>昵称：</th>
                        <input type='hidden' name='id' value="{$row['id']}">
                        <td><input type="text" name='nikname' value="{$row['nikname']}" class="zg_person_text focusBorder"></td>
                    </tr>
                    <tr>
                        <th>手机：</th>
                        <td><input type="text" name='tel' value="{$row['tel']}" class="zg_person_text focusBorder"></td>
                    </tr>
                    <tr>
                        <th>QQ：</th>
                        <td><input type="text" name='qq' value="{$row['qq']}" class="zg_person_text focusBorder"></td>
                    </tr>
                    <tr>
                        <th>性别：</th>
                        <td>
                    	   <label class="userInfo_radio"><i <if condition="$row['sex'] eq 1">class='checked'</if> >&nbsp;</i><input type="radio" name="sex" value="1">男</label>
                    	   <label class="userInfo_radio"><i <if condition="$row['sex'] eq 2">class="checked"</if> >&nbsp;</i><input type="radio" name="sex" value="2">女</label>
                        </td>
                    </tr>
                </table>
                <input type="submit" value="提交"  class="zg_person_submit">
                </form>                
            </div>
		</div>

<!--  我的收藏 end  -->
</div>
<include file='common:footer' />