<include file="common:header" />
<include file="common:aside" />

<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商品管理 <span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c">
				<form class="Huiform" method="post" action="" target="_self">
					<input type="text" class="input-text" style="width:250px" placeholder="用户名" id="" name="catename">
					<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索用户</button>
				</form>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a></span>  <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
			<table class="table table-border table-bordered table-bg table-sort">
				<thead>
					<tr>
						<th scope="col" colspan="7">用户列表</th>
					</tr>
					<tr class="text-c">
						<th><input type="checkbox" name="" value=""></th>
						<th>ID</th>
						<th>用户名</th>
						<th>性别</th>
						<th>注册时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<foreach name='data' item='val'>
					<tr class="text-c"  id="{$val['id']}">
						<td><input type="checkbox" value="{$val['id']}" name="id[]"></td>
						<td>{$val['id']}</td>
						<td>{$val['username']}</td>
						<td><if condition="$val['sex'] eq 1">男<else />女</if></td>
						<td>{$val['logintime']|date='Y-m-d',###}</td>
						<td><a title="详情" href="javascript:;" onclick="consumer_info('用户详情','{:U("consumer/consumerinfo",array("id"=>$val["id"]))}','','600')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe695;</i></a>&nbsp;<a title="修改" href="javascript:;" onclick="editpwd('修改密码','{:U("consumer/editpwd",array("id"=>$val["id"]))}','','400')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a></td>
					</tr>
					</foreach>
				</tbody>
			</table>
		</article>
	</div>
</section>

<include file="common:footer" />
<script type="text/javascript">
/*用户-详情*/
function consumer_info(title,url,w,h){
	layer_show(title,url,w,h);
}
/*修改密码*/
function editpwd(title,url,w,h){
	layer_show(title,url,w,h);
}

</script>
</body>
</html>