<include file="common:head" />
<body>
	<article class="page-container">
		<form class="form form-horizontal" id="form_info" action="{:U('consumer/editpwd')}" method='post'>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type='hidden' name='id' value="{$id}">
					<input type="text" class="input-text" name='pwd' value="">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" name='repwd' value="">
				</div>
			</div>

			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
					<input class="btn btn-primary radius" type="button" onclick="checkform()" value="&nbsp;&nbsp;确认&nbsp;&nbsp;">
				</div>
			</div>

		</form>
	</article>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/2.4/layer.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui.admin/js/H-ui.admin.page.js"></script> 
<script type="text/javascript">
function checkform(){
	$.ajax({
		type:"POST",
		url:$('#form_info').attr("action"),
		data:$('#form_info').serialize(),
		dataType:'JSON',
		success:function(result){
			if(result.status == 1){
				parent.window.location.reload();
				var index = parent.layer.getFrameIndex(window.name);
				parent.layer.close(index);
			}
		}
	});
}
</script>
</body>
</html>