<include file="common:head" />
<style>
	#treeDemo span.has-switch{min-width: 0px !important;}
</style>
<body>
	<article class="page-container">
		<form class="form form-horizontal" id="form_info" action="{:U('backuser/useradd')}" method='post'>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" name='username' value="" placeholder="请输入用户名">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" name='realname' value="" placeholder="请输入姓名">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" name='password' value="" placeholder="请输入密码">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>电话：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" name='tel' value="" placeholder="请输入手机号">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>所属角色：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<span class="select-box">
						<select class="select" name='role'>
							<option value=''>--请选择--</option>
							<foreach name='data' item='val'>
								<option value='{$val["id"]}' />{$val['rolename']}</option>
							</foreach>
						</select>
					</span>
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>状态：</label>
				<div class="formControls col-xs-8 col-sm-9 skin-minimal">
					<div class="radio-box">
						<input name="status" type="radio" id="status-1" value='1' checked />
						<label for="status-1">正常</label>
					</div>
					<div class="radio-box">
						<input type="radio" id="status-2" value='2' name="status" />
						<label for="status-2">禁用</label>
					</div>
				</div>
			</div>

			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
					<input class="btn btn-primary radius" type="button" onclick="checkForm()" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				</div>
			</div>

		</form>
	</article>
	<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script><script type="text/javascript" src="__PUBLIC__/admin/lib/layer/2.4/layer.js"></script> 
	<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui/js/H-ui.js"></script> 
	<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui.admin/js/H-ui.admin.page.js"></script> 	
	<script type="text/javascript" src="__PUBLIC__/admin/lib/laypage/1.2/laypage.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/admin/lib/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
	<script type="text/javascript" src="__PUBLIC__/admin/lib/zTree/js/jquery.ztree.core-3.5.js"></script>
	<script type="text/javascript" src="__PUBLIC__/admin/lib/zTree/js/jquery.ztree.excheck-3.5.js"></script>
	<script type="text/javascript" src="__PUBLIC__/admin/lib/zTree/js/jquery.ztree.exedit-3.5.js"></script>
	<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript">
		$("#form_info").validate({
			onfocusout: function(element){
		        $(element).valid();
		    },
			rules:{
				username: {
			    	required: true,
			    	minlength: 4
			    },
			    password: {
			    	required: true,
			    	minlength: 8
			    },
			    realname:'required'
			},
			messages:{
				username: {
					required: "请输入用户名",
					minlength: "用户名不能少于4个字符"
				},
					password: {
					required: "请输入密码",
					minlength: "密码长度不能小于8个字符"
				},
				realname:'请输入姓名'
			}
		});
		function checkForm(){
			$.ajax({
				type:"POST",
				url:$('#form_info').attr("action"),
				data:$('#form_info').serialize(),
				dataType:'JSON',
				success:function(result){
					if(result.status == 1){
						parent.window.location.reload();
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
					}
				}
			});
		}
	</script>
</body>
</html>